asgiref==3.6.0
bootstrap4==0.1.0
crispy-bootstrap5==0.7
Django==4.2.1
django-crispy-forms==2.0
numpy==1.24.3
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
Pillow==9.5.0
sqlparse==0.4.4
tzdata==2023.3
